<div class="row">
  <div class="ten columns centered">
    <div class="second_nav four columns offset-by-eight">
      <%= link_to "Resume Templates", resume_templates_path, class: "templates" %>
      <%= link_to "Go PRO", pro_path, class: "pro" %>
    </div>
  </div><!--column-->
</div><!--row-->