<% provide(:title, "Contact") %>
<script src="http://max.jotfor.ms/min/g=jotform?3.0.3635" type="text/javascript"></script>
<script type="text/javascript">
   JotForm.init();
</script>


<section class="row inner_page">
  <div class="ten columns offset-by-one">
    <article class="content eight columns contact" style="min-height: 950px;">
      <h3>Drop me a line</h3>
      <p> If you have any suggestions, ideas or bug reports, please feel free to drop me a line using this contact form. Alternatively, you can also get in touch <a href="mailto:bharani91@gmail.com">via email</a>.</p>
      

      <form class="jotform-form nice ten columns centered" action="http://submit.jotform.me/submit/21605126450443/" method="post" name="form_21605126450443" id="21605126450443" accept-charset="utf-8">
        <input type="hidden" name="formID" value="21605126450443" />
        <div class="form-all">
          <ul class="form-section">
            <li class="form-line" id="id_1">
              <label class="form-label-left" id="label_1" for="input_1">
                Name<span class="form-required">*</span>
              </label>
              <div id="cid_1" class="form-input">
                <input type="text" class="form-textbox validate[required] input-text large" id="input_1" name="q1_name" size="20" />
              </div>
            </li>
            <li class="form-line" id="id_3">
              <label class="form-label-left" id="label_3" for="input_3">
                Email<span class="form-required">*</span>
              </label>
              <div id="cid_3" class="form-input">
                <input type="text" class="form-textbox validate[required] input-text large" id="input_3" name="q3_email" size="20" />
              </div>
            </li>
            <li class="form-line" id="id_4">
              <label class="form-label-left" id="label_4" for="input_4">
                Message<span class="form-required">*</span>
              </label>
              <div id="cid_4" class="form-input">
                <textarea id="input_4" class="form-textarea validate[required] input-text large" name="q4_message" cols="40" rows="12"></textarea>
              </div>
            </li>
            <li class="form-line" id="id_2">
              <div id="cid_2" class="form-input-wide">
                <div style="margin-left:156px" class="form-buttons-wrapper">
                  <button id="input_2" type="submit" class="form-submit-button button nice big radius">
                    Submit
                  </button>
                </div>
              </div>
            </li>
            <li style="display:none">
              Should be Empty:
              <input type="text" name="website" value="" />
            </li>
          </ul>
        </div>
        <input type="hidden" id="simple_spc" name="simple_spc" value="21605126450443" />
        <script type="text/javascript">
        document.getElementById("si" + "mple" + "_spc").value = "21605126450443-21605126450443";
        </script>
      </form>

      
     
     
     
    </article><!--content-->
    
   <%= render "sidebar" %>

  </div><!--ten-columns-->
</section><!--featured-->