<div class="row break">
  <div class="ten columns additional_info centered clearfix">

    <div class="eleven columns centered donation_box">
      <h3>Go Pro!</h3>
      <p class="sub_text">Looking to import your LinkedIn profile? Want to keep track of the hits on your resume? <br />Check out the PRO version, We are sure that you'll love it.</p>
      <ul class="row">
        <li class="four columns">
          <h4>Complete analytics</h4>
          <%= image_tag "analytics_small.png", title: "Complete Analytics" %>
          <p>Want to check if any particular recruiter has viewed your online resume? Get a <span>complete date-wise and location-wise graph</span> of who views or downloads your resume.</p>
        </li>

        <li class="four columns">
          <h4>LinkedIn Import</h4>
          <%= image_tag "linked_in_import_small.png", title: "Import your LinkedIn profile" %>
          <p>Hate entering your resume details everytime? With the PRO version, you are just one click away from <span>automagically importing your LinkedIn profile</span>.</p>
        </li>
        
         <li class="four columns">
            <h4>More Templates</h4>
            <%= image_tag "templates_small.png", title: "More Templates" %>
            <p>Go PRO to get access to our <span>exclusive and continuously updated collection of beautiful and modern resume templates</span> to wow you recruiters.</p>
          </li>
          
      </ul>
      <div class="row">
        <div class="custom_url_feature">
          <h4>Custom URL</h4>
          <p>Not satisfied with <strong>www.resumonk.com/some-random-string</strong> ? Go PRO to get - </p>
          <strong class="your_url">www.resumonk.com/&lt;your-name&gt;</strong>
        </div>
      </div>
      <div class="row pay_now_wrap">
        <strong class="price">Just $9.99 <small>(one-time payment)</small></strong>

        <div class="three columns centered">
           <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="custom" value='<%= "#{current_user.id}" %>' >
            <input type="hidden" name="hosted_button_id" value="9HYHEU8L8YFU8">
            <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal — The safer, easier way to pay online.">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
            </form>
          

        </div>
      </div>
    </div><!--donation-box-->


  </div><!--ten columns-->
</div><!--row-->