 <div class="row clearfix">
    <div class="seven linked_in columns offset-by-five">
      <p class="six columns right">Hate entering data everytime?</p>
      <%= link_to "Import from LinkedIn",  linked_in_auth_path, class: "button medium right nice radius" %>
    </div>
  </div>