 <header id="fixed_nav">
    <div class="wrapper">
      <h1><%= link_to "Resumonk", root_path %></h1>
      
        <ul class="top_links">
   
            <li><%= link_to "Download PDF", {format: "pdf"}, class: "button download"  %></li>

        </ul>
    </div><!--wrapper-->
  </header>