<section class="show_links">
  <div class="row">
  <div class="ten columns offset-by-one">
    <div class="panel clearfix">
      <div class="row">
        <div class="seven columns">
          <h4>Congrats! Your resume is now ready.</h4>
          <p>Use the unique URL for sharing your online resume on social networks like LinkedIn, Twitter and Facebook. You can also download your resume as a PDF for printing it.</p>
        </div>
      
        <div class="five columns right">
          <p><%= link_to 'View your resume online', [current_user, @resume], class: "button big nice white radius", target: "_blank" %>
            <%= link_to "Save your resume as PDF", user_resume_path(current_user, @resume, format: "pdf"), class: "button nice big radius"  %></p>
        </div>
      </div><!--row-->
      
      <div class="row">
        <div class="short_link">
          <h4>Resume short URL:</h4> 
          <span class="short_url">http://resumonk.com/r/<%= @resume.short_link %></span>
        </div><!--short_link-->
      </div>
    </div><!--panel-->
   </div><!-- ten columns-->
   </div><!--row-->
   
  
  

    <% unless pro %>
      <%= render "shared/pro_signup_box" %>
    <% end %>
       
</section><!--dashboard-->

